fastapi>=0.100.0
uvicorn[standard]
fastapi-viewsets[sqlalchemy]
alembic
sqlalchemy>=2.0
pydantic-settings
python-jose[cryptography]
python-multipart
aiofiles
requests
aiosqlite
asyncmy
greenlet
fastapi-admin-panel
bcrypt
starlette_admin
babel>=2.12
Pillow
aiosmtplib
passlib[bcrypt]
nh3>=0.2.0
pymysql
